@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
      font-family: "Inter" , sans-serif;
}
ul,
dl,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #3b3b3b;
}
section {
    background-color: #eee;
    height: 100vh;
    position: relative;
    z-index: 2;
}
section:nth-child(even) {
    background-color: #ffe3e3;
}

.img-wrap {
    position: relative;
}
.rel {
    max-width: 166rem;
    margin: auto;
    height: 100%;
    position: relative;
}
.tit-wrap {
    color: #3b3b3b;
}


.tit-wrap h1 {
    font-size: 9rem;
}

h2 {
    
    font-size: 7rem;
}
h3 {
    font-size: 5rem;
}
.tit-wrap p {
    font-size: 1.8rem;
}
.img-wrap {
    position: relative;
}

.tit-wrap.mid{
    padding: 20rem 0 10rem;
    text-align: center;

}
.tit-wrap.mid h3{
    position: relative;
    text-transform: capitalize;
    font-weight: 100;

}
.tit-wrap.mid h3::after,
.tit-wrap.mid h3::before{
    display: block;
    content: "";
    width: .2rem;
    height: 5rem;
    background-color: #3b3b3b;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.tit-wrap.mid h3::before{
    top:-5rem
}
.tit-wrap.mid h3::after{
    bottom:-5rem
}